.sidebar-account {
    background-color: rgb(248, 248, 248);
    border-radius: 10px !important;
    padding: 20px;
    color: black;
}

.content-account {
    background-color: rgb(248, 248, 248);
    border-radius: 10px !important;
    padding: 20px;
    color: black;
}

.cancel-button {
    margin-left: 10px;
    margin-right: 10px;
}

.container-account {
    margin-bottom: 85px;
}