.input-search {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 0px !important;
    font-size: 15px !important;
    outline: none !important;
}

.input-search:focus {
    outline: none !important;
}


.btn-search {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.btn-detail-user {
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
}