.navbar-default {
    background-color: #192133 !important;
    color: white !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.dropdown-menu {
    background-color: #262f42 !important;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0.25 rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #192133 !important;
}

.navbar-collapse-admin {
    justify-content: space-between ;
}